*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.8;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafa;
}
.open-btn{
    border: none;
    background: blue;
    padding: 10px;
    color: whitesmoke;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0,0.35);
    width: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.modal{
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgb(0, 0, 0,0.25);
    padding: 30px 50px;
    width: 500px;
}
.modal h1 , .modal p{
    margin-bottom: 20px;
}
.close-btn{
    border: none;
    background: blue;
    padding: 10px;
    color: aliceblue;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    border-radius:  10px;
}
.show{
    opacity: 1;
    pointer-events: auto;
}