*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: #333;
}
.conteainer{
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(32, 17, 17, 0.2);
    overflow: hidden;
    width: 440px;
}
.title{
    margin: 0;
    color: azure;
}
.subtitle{
    display: inline-table;
    margin: 5px 0 20px;
    opacity: 0.8;
}
.header{
    background: #f09b9b;
    color: rgb(241, 206, 206);
    padding: 30px 20px;
}
.header input{
    background: rgba(248, 246, 246, 0.3);
    border: 0;
    border-radius: 60px;
    color: rgb(241, 220, 233);
    font-size: 15px;
    padding: 10px 15px;
    width: 100%;
}
.header input:focus{
    outline: none;
}
.country-list{
    background: #f3cece;
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}
.country-list li{
    display: flex;
    padding: 30px;
}
.country-list img{
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.country-list .info{
    margin-left: 10px;
}
.country-list .info h4{
    margin: 0 0 10px;
}
.country-list .info p{
    font-size: 15px;
}
.country-list li:not(:last-of-type){
    border-bottom: 0.5px solid #333232;
}
.country-list li.hide{
    display: none;
}