*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.conteainer{
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 440px;
}
.title{
    margin: 0;
}
.subtitle{
    display: inline-table;
    margin: 5px 0 20px;
    opacity: 0.8;
}