*{
    box-sizing: border-box;
}
body{
    background:gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container{
    width: 30rem;
    max-width: 800px;
    background: rgb(243, 176, 245);
    padding: 1rem;
    color: beige;
    border-radius: 10px;
}
h1{
    font-size: 2rem;
    text-align: center;
}
form{
    padding: 1rem 0;
    font-size: 1.2rem;
}
form>*{
    padding-bottom: 1.2rem;
}
input,button{
    padding: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
}
.btn{
    background-color: rgb(153, 240, 240);
    color: rgb(5, 5, 4);
    cursor: pointer;
    outline: none;
    border: none;
}
.result{
    font-size: 1.5rem;
    text-align: center;
    padding: 0.7rem;
    color: rgb(255, 255, 255);
}